CompileFlags:
  Add: [-std=c++23, -x, c++]
  CompilationDatabase: ./
Diagnostics:
  MissingIncludes: None
  UnusedIncludes: Strict
Completion:
  HeaderInsertion: Never
InlayHints:
  Enabled: true
  DeducedTypes: true
  TypeNameLimit: 24
---
If:
  PathMatch: .*\.(cl|h)$
CompileFlags:
  Add: [-x, c]
  Remove: [-std=c++23]
---
If:
  PathMatch: (src/pch/pch|snippets/snippets_pch)\.hpp
Diagnostics:
  UnusedIncludes: None
